#styleBlogSection {
    background: var(--lightGrey);

    border-radius: 0.5rem;
    box-shadow: 0 0 3px var(--enssatGrey);

    margin: 1rem 0;
    padding: 1rem;
}

#styleBlogSection th,
#styleBlogSection td {
    padding: 0.5rem;
}

#styleBlogThead {
    background: var(--gold);

    font-family: var(--fontTitle);
    font-variant: small-caps;
    color: #fff;
}

#styleBlogTbody {
    border-bottom: solid 1px var(--gold);
    background: inherit;
}

#styleBlogTbody:hover {
    background: var(--goldDark);
    color: #fff;
}
