.article-big-title{
    text-align: center;
}

.article-card{
    position: relative;
    height: auto;
    border: 1px grey solid;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.article-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.article-div-img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.article-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    max-width: 100%;
    padding: 0.5rem;
}

.article-div-text {
    margin:2%;
}

.article-text {
    text-decoration: none;
    bottom: 10px;
    left: 10px;
    color: black;
    margin:2%;
}

.article-text:hover {
}

.article-tag {
    margin: 1%;
    background-color: white;
}

.article-tag:hover {
    background-color: rgba(0, 0, 0, 0.9);
}