.dropdown {
    margin-bottom: 20vh;
}

.dropdown div {
    height: 15vh;
    overflow-y: scroll;
}

.dropdown button {
    width: 100%;
    background: var(--lightGrey);
    border: 1px solid var(--mediumGrey);
}

.dropdown button:hover {
    background: var(--goldDark);
    border: 1px solid var(--gold);
    color: white;
}


