.ApprenticeshipManagementModal {}

.ApprenticeshipManagementModal div { height: 5vh; }


.ApprenticeshipManagementModal #readOnly {
    border: 1px solid var(--gold);
    border-radius: 0.5rem;

    color: var(--gold);
}
.ApprenticeshipManagementModal #readOnly h4 { margin: 0; }
