#styleArticle {
    background: var(--lightGrey);
    margin: 0.25rem 0.25rem 1rem 0.25rem;
    box-shadow: 0 0 5px var(--enssatGrey);
    border-radius: 0.5rem;
}

#styleDivContent { padding: 0.5rem 0.25rem }

#styleDivContent > p {
    padding: 0 1rem;
    margin: 0
}

#styleDivContentTag  {
    padding: 0.5rem;
}

#styleImgBubble {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}

.styleImgSide {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}
