/* Variable */

:root {
  --gold: #BF9E4E;
  --goldDark: #a48231;

  --enssatGrey: #556A68;
  --enssatGreyDark: #334442;

  --lightGrey: #FAFAFA;
  --mediumGrey: #F0F0F0;
  --darkGrey: #333;

  --error: #ff4466;
  --errorDark: #c21635;

  --success: #33cc66;
  --successDark: #1fa14a;

  --fontTitle: "Sansation";
  --fontText: "ubuntu";


  --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10), 0px 4px 4px rgba(0, 0, 0, 0.17);
  --grey-dim: #E5E7E7;
  --grey-dark:#2e2e2e;
  --featured-gradient: linear-gradient(202deg, rgba(191,158,78,1) 0%, rgba(238,201,110,0.9920561974789917) 43%, rgba(191,158,78,1) 61%, rgba(140,107,46,1) 100%);

  --font-family: 'Inter', 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

/* Reusable class */

.w25 { width: 25% }
.w33 { width: 33% }
.w50 { width: 50% }
.w66 { width: 66% }
.w75 { width: 75% }
.w100 { width: 100% }

.txtLeft { text-align: left }
.txtRight { text-align: right }
.txtJustify { text-align: justify }
.txtCenter { text-align: center }

.space-around { justify-content: space-around }
.space-between { justify-content: space-between }

.self-center { align-self: center }
.self-stretch { align-self: stretch }
.self-baseline { align-self: baseline }
.self-start { align-self: flex-start }
.self-end { align-self: flex-end }

.items-center { align-items: center }
.items-baseline { align-items: baseline }
.items-start { align-items: flex-start }
.items-end { align-items: flex-end }

.float-right { float: right }
.float-left { float: left }

/* Imported fonts */

@font-face {
  src: url("_assets/fonts/OpenSans/OpenSans-Regular.ttf");
  font-family: "Open Sans";
}

@font-face {
  src: url("_assets/fonts/Sansation/Sansation-Regular.ttf");
  font-family: "Sansation";
}


/* Container */

html,
#root,
.App {
  height: 100%;
  width: 100%;
}

body { font-family: var(--fontText); }

.line {
  display: flex;
  flex-wrap: wrap;
}

/* Items */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontTitle);
}

h1,
h3,
h5 {
  color: var(--gold);
}

h2,
h4,
h6 {
  color: var(--enssatGrey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}





@import '../src/_assets/fonts.css';



.card{
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  border:none;
}

input, textarea {
  border-radius: 8px !important;
  border: 1px solid var(--grey-dim) !important;
  font-size: 14px !important;
  color: var(--grey-dark) !important;
}





/******************adding label floating effect for the input placeholder********************/

.form-group {
  position: relative;
  margin-bottom: 12px;
}

.form-label {
  position: absolute;
  top: 6px;
  left: 12px;
  transition: 0.2s ease-out;
  pointer-events: none;
  color: #999; /* Placeholder color */
  font-size: 14px;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label,
.focused .form-label {
  top: -12px;
  left: 6px;
  font-size: 0.8em;
  color: #333; /* Active label color */
  background:white;
  padding-left:8px;
  padding-right:8px;
  border-radius: 8px;
}




.form-select {
  font-size: 14px!important;
  color: var(--grey-dark)!important;
}







/* CSS class to hide scrollbar */
.hide-scroller {
  /* Enable overflow to allow scrolling */
  overflow: auto;
  
  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer & Edge */
  
}

 

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scroller::-webkit-scrollbar {
  display: none;
}