/* Variable */

:root {
  --gold: #BF9E4E;
  --goldDark: #a48231;

  --enssatGrey: #556A68;
  --enssatGreyDark: #334442;

  --lightGrey: #FAFAFA;
  --mediumGrey: #F0F0F0;
  --darkGrey: #333;

  --error: #ff4466;
  --errorDark: #c21635;

  --success: #33cc66;
  --successDark: #1fa14a;

  --fontTitle: "Sansation";
  --fontText: "Ubuntu";
}

/* Reusable class */

.w25 { width: 25% }
.w33 { width: 33% }
.w50 { width: 50% }
.w66 { width: 66% }
.w75 { width: 75% }
.w100 { width: 100% }

.space-around { justify-content: space-around }
.space-between { justify-content: space-between }

.self-center { align-self: center }
.self-baseline { align-self: baseline}
.self-start { align-self: flex-start}
.self-end { align-self: flex-end}

.items-center { align-items: center }
.items-baseline { align-items: baseline }
.items-start { align-items: flex-start }
.items-end { align-items: flex-end }

/* Imported fonts */

@font-face {
  src: url("_assets/fonts/OpenSans/OpenSans-Regular.ttf");
  font-family: "Open Sans";
}

@font-face {
  src: url("_assets/fonts/Sansation/Sansation-Regular.ttf");
  font-family: "Sansation";
}


/* Container */

html,
#root,
.App {
  height: 100%;
  width: 100%;
  display: flex;
}

body{
  font-family: var(--fontText);
}

.line {
  display: flex;
  flex-wrap: wrap;
}

/* Items */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontTitle);
}

h1,
h3,
h5 {
  color: var(--gold);
}

h2,
h4,
h6 {
  color: var(--grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
