/* Variable */

:root {
  --gold: #BF9E4E;
  --grey: #556A68;
  --fontTitle: "Sansation";
  --fontText: "Ubuntu";
}

/* Imported fonts */

@font-face {
  src: url("_assets/fonts/OpenSans/OpenSans-Regular.ttf");
  font-family: "Open Sans";
}

@font-face {
  src: url("_assets/fonts/Sansation/Sansation-Regular.ttf");
  font-family: "Sansation";
}


/* Container */

body {
  margin: 0;
  font-family: var(--fontText)
}

/* Items */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontTitle);
}

h1,
h3,
h5 {
  color: var(--gold);
}

h2,
h4,
h6 {
  color: var(--grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
