#CalendarContainer {
    background: #fff;

    max-width: inherit;
    height: 70%;

    padding: 1rem;

    border-radius: 1rem;
    box-shadow: 0 0 5px var(--enssatGrey);
}

.fc
{
}

.fc-media-screen
{

}

.fc-direction-ltr
{

}

.fc-theme-standard
{

}

.fc-liquid-hack
{

}

.fc-header-toolbar
{

}

.fc-toolbar
{

}

.fc-toolbar-chunk
{

}

.fc-toolbar-title
{
}

.fc-dom-2
{

}

.fc-today-button
{

}

.fc-button
{

}

.fc-button-primary
{

}

.fc-icon
{

}

.fc-icon-chevron-left
{

}

.fc-next-button
{

}

.fc-icon-chevron-right
{

}

.fc-view-harness
{

}

.fc-view-harness-active
{

}

.fc-timeGridWeek-view
{

}

.fc-view
{

}

.fc-timegrid
{

}

.fc-scrollgrid
{

}

.fc-scrollgrid-liquid
{

}

.fc-scrollgrid-section
{

}

.fc-scrollgrid-section-header
{

}

.fc-scroller-harness
{

}

.fc-scroller
{

}

.fc-col-header
{

}

.fc-timegrid-axis
{

}

.fc-timegrid-axis-frame
{

}

.fc-col-header-cell
{

}

.fc-day
{

}

.fc-day-past
{

}

.fc-scrollgrid-sync-inner
{

}

.fc-col-header-cell-cushion
{
    width: auto;
    text-decoration: none;
    font: var(--fontTitle);
    color: var(--gold);
}

.fc-event-main
{
    background: var(--gold);
    color: #fff;
    text-align: center;
}

.fc-event-time
{

}

.fc-event-title
{

}
